extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet" href="/css/forms.css")

block content
  if errorMessage
    .container.alert.alert-danger.col-sm-6.text-center  #{errorMessage}

  .container
    form.mt-4(action='/reset-password', method='POST', style="margin: auto; width: 50%")
      .form-group.row.pd-0
        label.col-sm-2.col-form-label(for='name') Email:
        .col-sm-10
          input#e-mail.form-control(type='text', name='email')

      .form-group.row
        .sol-sm-6.offset-sm-4
          input.btn.btn-primary(type='submit', value='Gönder')
    .mb-4