.container(style="margin-left: 50%; margin-top: 2%;")
  #mySlider.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            .container.text-center(style ="aspect-ratio: 16/4; object-fit: contain")
              img.d-block(src='/image/slide1.jpg', alt='First slide')
          .carousel-item
            .container.text-center(style ="aspect-ratio: 16/4; object-fit: contain")
              img.d-block(src='/image/slide2.jpg', alt='Second slide')
          .carousel-item
            .container.text-center(style ="aspect-ratio: 10/4; object-fit: contain")
              img.d-block(src='/image/slide4.jpg', alt='Third slide')
        a.carousel-control-prev(href='#mySlider', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
        a.carousel-control-next(href='#mySlider', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')