extends ../layouts/main-layout.pug

block content
  .container(style="margin-top: 10%; font-size: 2rem")
    .div(style="font-weight: bold; text-align: center")
      h1(style="font-size: 5rem;") 404
      p Page Not Found
      a(href="/") Ana Sayfa