extends ../layouts/main-layout.pug

include ../mixins/createProduct.pug 

block content
  .row
    .col-3.container(style="position: fixed; top: 50px; right: 10px;")
        include ../includes/menu.pug
    .col-9(style="margin-left: 1rem")
      .contianer(style="width: 50%")
        include ../includes/slider.pug
      .row.mt-4
        if products.length > 0
          each product in products
            +createProduct(product)
        else
          .container-fluid
            h1(style="text-align: center") Ürün Yok
  .mb-4